* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(71, 71, 71);
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
    background-color: rgb(94, 94, 94);
}

.todo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.todo-input {
    width: 25rem;
    padding: 0.35rem;
    margin-right: 0.1rem;
    outline: none;
}

.todo-button {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 2rem;
    font-size: 1.5rem;
}

.todo-button:hover {
    background: rgb(182, 182, 182);
    transition: all .5s;
    cursor: pointer;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
}

.todo {
    padding: 0.25rem;
    margin: 0.5rem;
    background: #fff;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
    padding: 0.5rem;
}

.completed-btn,
.edit-btn,
.trash-btn {
    width: 2rem;
    height: 1.7rem;
    border: none;
    cursor: pointer;
}

.completed-btn img,
.edit-btn img,
.trash-btn img {
    width: 1rem;
    pointer-events: none;
}

.completed-btn {
    margin-right: 0.3rem;
}

.completed-btn:hover {
    background: rgb(92, 204, 92);
    transition: all .5s;
}

.edit-btn {
    margin-right: 0.3rem;
}

.edit-btn:hover {
    background: rgb(206, 206, 206);
    transition: all .5s;
}

.trash-btn:hover {
    background: rgb(255, 193, 193);
    transition: all .5s;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    transition: all .5s;
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
    width: 8rem;
}

.select {
    position: relative;
}

.select:after {
    content: "\25BC";
    background: rgb(71, 71, 71);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1rem 0.4rem;
    pointer-events: none;
}

.select:hover:after {
    color: rgb(71, 71, 71);
    background: #fff;
    transition: all .5s;
}




